.users-recommended{
  padding: 1rem;
  background: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--tidbits-color);
  color: var(--text-color);
}

.feeds-header {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}

.feeds-header h2 {
  margin: 0;
}

.feeds-header .edit-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: var(--tidbits-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.feeds-header .edit-button:hover {
  background: var(--hover-color);
}

.recommendation-limit {
  color: var(--hover-color);
  font-size: 0.9rem;
}

.feed-search {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  position: relative;
}

.feed-search input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid var(--tidbits-color);
  border-radius: 4px;
  background: var(--background-color);
  color: var(--text-color);
}

.feed-search input::placeholder {
  color: var(--hover-color);
}

.feed-search input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--background-color);
  border: 1px solid var(--tidbits-color);
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-result {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.user-result:hover {
  background-color: var(--hover-color);
}

.user-result .user-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.feed-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feed-item {
  display: flex;
  align-items: center;
}

.feed-item .remove-button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 0.5rem;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  margin-right:1rem;
}

.feed-item .user-card-link {
  width: 100%;
}

.feed-item .remove-button:hover {
  opacity: 1;
}

.user-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
}

.user-link:hover {
  color: var(--hover-color);
}

.no-recommendations {
  text-align: center;
  color: var(--hover-color);
}

/* Scrollbar styling */
.search-results::-webkit-scrollbar {
  width: 8px;
}

.search-results::-webkit-scrollbar-track {
  background: var(--background-color);
}

.search-results::-webkit-scrollbar-thumb {
  background: var(--tidbits-color);
  border-radius: 4px;
}

.search-results::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
