h5 {
  margin: 3px;
  flex-wrap: nowrap;
}

button {
  background: none;
  border: none;
  color: var(--text-color);
  display: flex; /* Make button a flex container */
  flex-wrap: nowrap; /* Ensure no wrapping within flex container */
  overflow: hidden; /* Hide overflow if content exceeds button size */
  white-space: nowrap; /* Prevent text from wrapping within the button */
}

.active {
    font-weight: bold;
  }


#filters-container {
  background-color: var(--background-color);
}

#filters-container.active {
  right: 0;
}

.filter-section {
  margin: 10px 5px;
}

.filter-link {
  padding-left: 8px;
  margin-left: 8px;
}


/* Accent Color for Active Links */
.active {
  color: var(--accent-color);
}


@media (min-width: 768px) {
  #filters-container {
    position: static;
    width: auto;
    max-width: none;
    height: auto;
    box-shadow: none;
    transition: none;
  }
}

.filters-close-button {
  display: none; /* Hidden by default */
}
/* Mobile styles */
@media (max-width: 768px) {
  #filters-container {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }

  #filters-container.active {
    right: 0%;
  }

  .filters-close-button {
    display: block; /* Show only on mobile */
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1001;
  }
}


