#home-columns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    gap: 10px;
    padding: 1.5rem;
}

#home-column-left,
#home-column-right {
    display: none;
    width: 0;
}

#home-column-center {
    width: 100%;
}

#home-column-center-filters {
    display: flex;
    flex-direction: row;
    height: 85px;
    justify-content: space-around;
    gap: 10px;
    margin: 0;
}

.center-column-filter {
    display: flex;
    flex: 1;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.center-column-filter-not-logged-in {
    display: flex;
    flex: 1;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.user-card-link {
    width: 100%;
    box-sizing: border-box;
}

.user-card {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.what-you-are-missing {
    display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
    #home-column-left {
        display: block;
        width: auto;
        position: relative;
    }
}

/* Desktop styles */
@media (min-width: 768px) {
    #home-columns-container {
        display: grid;
        grid-template-columns: 200px 1fr 300px;
    }

    #home-column-left {
        display: block;
        width: 200px;
    }

    #home-column-center {
        width: auto;
    }

    #home-column-right {
        display: block;
        width: 300px;
        max-width: 300px;
        border-left: 2px solid var(--text-color);
        padding: 0px 5px 5px 5px;
        position: relative;
    }

    .what-you-are-missing {
        display: block;
    }
}

