#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color); /* Example variable */
  padding: 0 1rem; /* More flexible padding */
  max-width: 1500px; /* Optional: keep a max width */
  width: 100%; /* Full width for responsiveness */
  margin: auto; /* Center the navbar within its container */
  border-bottom: 2px solid var(--text-color);
}

.navbar-logo img {
  height: 25px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links a:hover {
  color: var(--accent-color);
}
