.all-sources-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sources-filters {
  margin-bottom: rem;
}

.source-search {
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid var(--tidbits-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
}


.filter-section h3 {
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 1rem;
}

.bias-filters,
.publication-filters {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.bias-filter,
.publication-filter {

  cursor: pointer;
  font-size: 0.9rem;
  transition: opacity 0.2s ease;
  margin-bottom: 0.5rem;
}

.bias-filter:hover,
.publication-filter:hover {
  opacity: 0.8;
}

.bias-filter.active,
.publication-filter.active {
  font-weight: bold;
}

/* Bias filter colors */

.sources-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.source-card {

  padding-left: 1rem;
}


.source-card h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.source-card p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-color);
}

.source-card .source-link {
  display: block;
  margin-top: 1rem;
  text-align: right;
  color: var(--link-color);
  transition: color 0.2s ease;
}

.source-card .source-link:hover {
  color: var(--link-hover-color);
}

#bias-filter-all::before {
  content: url("/img/bias-filter-all-img.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 12px;
  vertical-align: middle;
  margin-left: 0px;
  padding-left: 0px;
}


#publication-filter-all::before {
  content: url("/img/publication-filter-all-img.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 14px;
}

#publication-filter-indie::before {
  content: url("/img/publication-filter-indie-img.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 14px;
}

#publication-filter-mainstream::before {
  content: url("/img/publication-filter-mainstream-img.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 14px;
}