.all-sources-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sources-filters {
  margin-bottom: rem;
}

.source-search {
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid var(--tidbits-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: bold;
}


.filter-section h3 {
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 1rem;
}

.bias-filters,
.publication-filters {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Bias filter colors */

.sources-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: .5rem;
}

.source-card {
  padding-left: 1rem;
}


.source-card h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.source-card p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-color);
}

.source-card .source-link {
  display: block;
  margin-top: 1rem;
  text-align: right;
  color: var(--link-color);
  transition: color 0.2s ease;
}

.source-card .source-link:hover {
  color: var(--link-hover-color);
}