/* For global settings */

:root {
  --background-color: #172226;
  --hover-color: #d0d0d7;
  --tidbits-color: #476a76;
  --left-bias-color: #3772ff;
  --leanleft-bias-color: #51d6ff;
  --center-bias-color: #c200fb;
  --leanright-bias-color: #ff7c70;
  --right-bias-color: #ff331f;
  --substack-bias-color: #f9a620;
  --accent-color: #eaf679;
  --tech-color: #c5fcc6;
  --text-color: #fbfbff;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Font Scaling */
h1 {
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-size: 1.9882em;
  margin: 0px;
}

h3 {
  font-size: 1.5811em;
  margin: 0px;
}

h4 {
  font-size: 1.2574em;
  margin: 0px;
}

p {
  font-size: 1em;
  margin: 0px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

.heading {
  text-align: center; /* Centers a heading via className */
}

a, .user-link, button {
  cursor: pointer;
}