/* For global settings */

:root {
  --background-color: #172226;
  --hover-color: #d0d0d7;
  --tidbits-color: #476a76;
  --left-filter-color: #3772ff;
  --leanleft-filter-color: #51d6ff;
  --center-filter-color: #c200fb;
  --leanright-filter-color: #ff7c70;
  --right-filter-color: #ff331f;
  --substack-filter-color: #f9a620;
  --accent-color: #eaf679;
  --tech-color: #c5fcc6;
  --text-color: #fbfbff;
  font-family: "Poppins", sans-serif;
}

/* Font Scaling */
h1 {
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-size: 1.9882em;
  margin: 0px;
}

h3 {
  font-size: 1.5811em;
  margin: 0px;
}

h4 {
  font-size: 1.2574em;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  margin: 0px;
}

body {
  background-color: var(--background-color);
  color: var(--text);
  margin: 0px;
}
